<div class="card">
  <img class="card-img-top" [src]="card?.image" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ card?.name }}</h5>
    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">
      <span 
        [ngClass]="{
          'badge-danger': card?.status === 'Dead', 
          'badge-success': card?.status === 'Alive',
          'badge-warning': card?.status === 'unknown'
        }"
        class="badge">{{ card?.status }}</span>
      <small class="ml-1 text-muted">{{ card?.species }}</small>
    </p>
  </div>
</div>